{% extends 'home.html' %}
{% block content %}

<form action="" enctype="multipart/form-data" method="POST" name="password">
    <h3 class="text-primary"> Change Password </h3>
    <br>
    <div class="form-group">
        <span class="text-primary">Current Password</span>
        <input class="form-control" type="password" id="mypassword" name="mypassword"/>  <br><br>
        <span class="text-primary">New Password</span>
        <input class="form-control" type="password" id="newpassword" name="newpassword" /><br><br>
        <span class="text-primary">Confirm Password </span>
        <input class="form-control" type="password"  id="confirmpass" name='confirmpassword' /><br><br>
        <input type="button" id="buttonId" value="Update" class="btn btn-primary" />
        

    </div>
</form>




{% endblock %}

